#enemy

  #sidebar

    #timer.section
      %h3.title Next enemy attack in:
      .counter= @enemy.attack_interval

    .clear

    #defense.section
      %h3.title Your defense total:

      .stat
        %span.val.defense= number_with_delimiter(current_player.defense)
        = image_tag "loot/defense.png", :class => "type-icon"

    #legend.section
      %h3.title Match 3 or more to:

      %ul.attack-list
        %li
          .att.warrior1
            .icon
            Deal up to 
            %span.damage= current_player.battle_attack(:warrior1)
            damage with your Warrior's weapon:
            - if warrior1 = current_player.battle_slot(:warrior1)
              %br
              = loot_with_icon warrior1
        %li
          .att.shieldbash
            .icon
            Shield bash your opponent, delaying the time to their next attack
        %li
          .att.thief1
            .icon
            Deal up to 
            %span.damage= current_player.battle_attack(:thief1)
            damage with your Thief's mainhand weapon:
            - if thief1 = current_player.battle_slot(:thief1)
              %br
              = loot_with_icon thief1
        %li
          .att.thief2
            .icon
            Backstab your opponent for up to 2X 
            %span.damage= current_player.battle_attack(:thief2)
            damage with your Thief's offhand weapon:
            - if thief2 = current_player.battle_slot(:thief2)
              %br
              = loot_with_icon thief2
        %li
          .att.ranger
            .icon
            Deal up to 
            %span.damage= current_player.battle_attack(:ranger)
            damage with your Ranger's weapon:
            - if ranger = current_player.battle_slot(:ranger)
              %br
              = loot_with_icon ranger

  #battle.pre

    .enemy{ :id => dom_id(@enemy) }
      
      %h1.name= @enemy.name

      #enemy-lifebar
        .bar

      = render "heroes/inline_stats", :hero => @enemy

    #grid

    #pre-battle

      %table

        %tr

          %td

            %h2.message= @enemy.battle_message

            #warning

              - if current_player.empty_slots?
                %h3.warning You must fully equip your guards to begin battle! Visit the armory and equip your best loot, then return to this forge.
                = link_to "Visit the Armory &rarr;".html_safe, armory_index_path, :class => "btn primary"

              - else
                %h3.warning Before beginning the battle, be sure to equip your best loot from the armory... you'll need it!
                = link_to "Visit the Armory &rarr;".html_safe, armory_index_path, :class => "btn primary"
                %br
                %br
                = link_to "Start the Battle".html_safe, '#', :class => "btn danger start"

          %td.hero-col
            = render "heroes/heroes", :player => current_player, :loot => @loot

:javascript
  ForgeCraft.Config.enemy = #{@enemy.to_json}