= link_to "Forfeit", "#", "data-external" => true, :class => 'flee btn danger'

.enemy{ :id => dom_id(@enemy) }
  
  %h1.name= @enemy.name

  #lifebar.bar-wrap
    .bar

  = render "heroes/inline_stats", :hero => @enemy

.lanes

  - @seed.each do |name|
    
    - if name == "warrior"
      = render "warrior_lane", :guard => current_player.warrior
    - elsif name == "ranger"
      = render "ranger_lane", :guard => current_player.ranger
    - else
      = render "thief_lane", :guard => current_player.thief

.tip
  
  %p 
    %strong Tip:
    Keep your guards well equipped by visiting the
    = link_to "Armory", armory_index_path
    or equipping forged loot directly from the sidebar.
  
  = link_to "Visit the Armory", armory_index_path, :class => "btn primary"