= link_to "Flee", "javascript:player.fleeBattle()", "data-external" => true, :class => 'flee btn danger'

.enemy{ :id => dom_id(@enemy) }
  
  %h1.name= @enemy.name

  #lifebar.bar-wrap
    .bar

  = render "heroes/inline_stats", :hero => @enemy

.lanes

  - @seed.each do |name|
    
    - if name == "warrior"
      = render "warrior_lane", :guard => current_player.warrior
    - elsif name == "ranger"
      = render "ranger_lane", :guard => current_player.ranger
    - else
      = render "thief_lane", :guard => current_player.thief