= link_to "Flee", "javascript:player.fleeBattle()", "data-external" => true, :class => 'flee btn danger'

.enemy{ :id => dom_id(@enemy) }
  
  %h1.name= @enemy.name

  #lifebar.bar-wrap
    .bar

  = render "heroes/inline_stats", :hero => @enemy

.lanes

  .lane.thief
    .target.thief &middot;
    #thief.hero.thief
      = image_tag Classification.sword.default_icon.url(:thumb), :class => "icon"
      %span.name Thief
      = render "heroes/inline_stats", :hero => current_player.thief

    .zone.thief
      .crit

  .lane.warrior
    .target.warrior &middot;
    #warrior.hero.warrior
      = image_tag Classification.shield.default_icon.url(:thumb), :class => "icon"
      %span.name Warrior
      = render "heroes/inline_stats", :hero => current_player.warrior

    .zone.warrior
      .crit
      
      
  .lane.ranger
    .target.ranger &middot;
    #ranger.hero.ranger
      = image_tag Classification.crossbow.default_icon.url(:thumb), :class => "icon"
      %span.name Ranger
      = render "heroes/inline_stats", :hero => current_player.ranger

    .zone.ranger
      .crit