
<div id="register-page">

  <div id="register-form" class="col-content">

    <% resource.build_player %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <%= devise_error_messages! %>

      <fieldset>
      <legend>Sign Up</legend>

      <%= f.fields_for :player do |p| %>

        <%= p.hidden_field :level, :value => 1 %>
        <%= p.hidden_field :zone_id, :value => Zone.first.try(:id) %>

        <div class="clearfix">
          <%= p.label :name, "Player Name" %>
          <div class="input">
            <%= p.text_field :name, :class => "required" %>
          </div>
        </div>
      <% end %>

      <div class="clearfix">
        <%= f.label :email %>
        <div class="input">
          <%= f.email_field :email, :class => "required email" %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :password %>
        <div class="input">
          <%= f.password_field :password, :class => "required" %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :password_confirmation %>
        <div class="input">
          <%= f.password_field :password_confirmation, :class => "required" %>
        </div>
      </div>

      <div class="actions"><%= f.submit "Sign up", :class => "btn primary" %></div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>

  </div>
</div>