#codex.container

  .row

    .classifications.span-one-third

      %h2 Item Classes

      - Classification.all.each do |c|
        .classification

          %h4= c
          = image_tag(c.default_icon.url(:tiny))
          = image_tag("codex/#{c.to_param.downcase}-pattern.png")

      .clear

      %p.explain 
        %strong Note:
        Item patterns can be crafted in any orientation

    .ores.span-one-third

      %h2 Ores

      - Ore.defaults.each do |ore|
        .ore
          %h4= ore
          = image_tag(ore.tile.url(:normal))
              
    .tooltips.span-one-third

      %h2 Tutorials

      %ul.tooltip-list
        %li= link_to "Watch the Video", "javascript:void(0);", "data-external" => true, :class => "btn primary"
        - @tooltips.each do |t|
          %li= link_to t, tooltip_path(t), "data-external" => true, :class => "btn primary", :rel => "tooltip"


:javascript
  
  tooltipView.bindTooltips()