.progress

  .funds
    %span.stat Funds:
    %span.amount
      - if forge.requires_funding?
        = number_with_delimiter(forge.funds)
      - else
        %span.infinite &#8734;
    = image_tag "coin.png", :class => "icon"

  .completion
    .bar-wrap
      .bar{ :style => "width: #{forge.progress_percent}%" }

    .percent
      %span.amount= forge.progress_percent
      = "% complete"

  .requirements

    %ul
      - forge.progresses.each do |prog|
        %li{ :id => dom_id(prog), :class => ("complete" if prog.complete?) }
          %span{ :id => dom_id(prog, "quantity") }= prog.quantity
          = "/ #{prog.requirement.to_s}"

          - unless forge.requires_funding?
            = link_to image_tag("tooltip.png"), tooltips_path, :rel => "tooltip"