.progress

  .completion
    .bar-wrap
      .bar{ :style => "width: #{forge.progress_percent}%", :class => (forge.complete? ? "complete" : nil) }

    .percent{ :class => (forge.complete? ? "complete" : nil) }
      %span.amount= forge.progress_percent
      = "% complete"

  .requirements

    %ul
      - forge.progresses.each do |prog|
        %li{ :id => dom_id(prog), :class => ("complete" if prog.complete?) }
          %span{ :id => dom_id(prog, "quantity") }= prog.quantity
          = "/ #{prog.requirement.to_s}"

          = link_to image_tag("tooltip.png"), tooltips_path, :rel => "tooltip"
      
      %li.boss{ :class => ("complete" if forge.boss_defeated?) }
        
        - if forge.boss_defeated?

          #{forge.boss} defeated!
          
        - else

          Defeat the #{forge.boss}!

          .fight-action
            - if forge.progresses_complete?
              = link_to "Fight!", enemy_path(forge.boss), :class => "btn danger" 
