.forge-stub{ :id => forge.to_param, :class => "#{'last' if last} #{'current' if current}", "data-mine-id" => forge.mine_id }

  .controls
    = action_button(forge)

  .details
    %h3.name
      = forge
      - if forge.complete?
        %span.complete-checkmark
          &#x2713;

    - unless forge.complete?
      .progress-wrap
        = render "forges/progress", :forge => forge