.forge-stub{ :id => forge.to_param, :class => "#{'last' if last} #{'current' if current}", "data-mine-id" => forge.mine_id }

  .controls
    - if current_player.try(:can_forge_at?, forge)
      = link_to "Forge", forge_path(forge), :class => "btn primary"
    - else
      = link_to "Review", forge_path(forge), :class => "btn primary review"
    
  .details
    %h3.name
      = forge
      - if forge.complete?
        %span.complete-checkmark
          &#x2713;

    - unless forge.complete?
      .progress-wrap
        = render "forges/progress", :forge => forge