#forge

  #sidebar

    #player-bar
      .coins= number_with_delimiter current_player.coins
    
    #loot-list

    = link_to "More ...", "javascript:void(0)", :id => "loot-list-more", :class => "more-loot", :"data-external" => false

  #ores

  = render "active_forge"

:javascript
  ForgeCraft.Config.ores = #{Ore.tile_urls.to_json}
  ForgeCraft.Config.player = #{current_player.to_json}
  ForgeCraft.Config.loot = #{@loot.to_json}

#loot-template
  = render "items/loot", :loot => Loot.new(:attack => 1, :defense => 1)