#forge

  #sidebar
    %h3= @forge

    .progress-wrap
      = render "forges/progress", :forge => @forge
    
    #loot-list

    - if @forge.loot.count > 20
      = link_to "Loading ...", "javascript:void(0)", :id => "loot-list-more", :class => "more-loot", :"data-external" => false

  #ores

  = render "active_forge"

:javascript
  ForgeCraft.Config.forge = #{@forge.to_json}
  ForgeCraft.Config.ores = #{Ore.tile_urls.to_json}
  ForgeCraft.Config.player = #{current_player.to_json}
  ForgeCraft.Config.loot = #{@loot.to_json}

#loot-template
  = render "items/loot", :loot => Loot.new(:attack => 1, :defense => 1)