#forge

  #sidebar
    %h3= @forge

    .progress-wrap
      = render "forges/progress", :forge => @forge
    
    #event-list
      = render "events/list", :events => @events

  - if @forge.complete? and @forge.requires_funding?
    = render "complete", :forge => @forge
    
  - else

    #enemy
  
    #ores


  = render "active_forge"

:javascript
  ForgeCraft.Config.forge = #{@forge.to_json}
  ForgeCraft.Config.latest_event = #{@latest_event.to_json}
  ForgeCraft.Config.ores = #{Ore.tile_urls.to_json}
  ForgeCraft.Config.loot = #{@loot.to_json}
  ForgeCraft.Config.perfect_accuracy = #{Forge::PERFECT_ACCURACY}
  ForgeCraft.Config.unlock_accuracy = #{Forge::UNLOCK_ACCURACY}
