.map
    
  %ul
    - @zones.first.tap do |zone|
      %li
        %h4.zone= zone
        
        %ul

          - zone.mines.each do |mine|
            %li
              = link_to mine, map_path(mine), "data-mine-id" => mine.id, :class => "marker #{'selected' if @mine == mine}", :style => "left: #{mine.x}px; top: #{mine.y}px;"