.details

  - if mine.present?

    %h3.name= mine.name
    %p.description= mine.description


    - if current_player.can_travel_to? mine

      - if forge.present?
        .progress-wrap
          = render "forges/progress", :forge => forge

        - if forge.complete?
          %h3 Forge Complete &#x2713;
          
        - else
          = link_to "Continue Forging", "#", :class => "travel btn primary", "data-mine-id" => mine.id
      
      - else
        .requirements
          %p Clear this mine by forging:

          %ul
            - mine.requirements.each do |req|
              %li= req

        = link_to "Start a Forge Here", "#", :class => "travel btn primary", "data-mine-id" => mine.id

    - else

      .requirements
        %p Clear this mine by forging:

        %ul
          - mine.requirements.each do |req|
            %li= req
      
      %p You must complete forging at the following mines to access this mine:
      %ul
        - mine.required_mines.each do |req_mine|

          %li= link_to req_mine, map_path(req_mine)

  - else
    
    %h3 Select a mine on the map