.details

  - if mine.present?

    %h3.name= mine.name
    %p.description= mine.description

    - if forge.present?
      .progress-wrap
        = render "forges/progress", :forge => forge

      = link_to "Continue Forging", "#", :class => "travel btn primary", "data-mine-id" => mine.id
    
    - else

      = link_to "Start a Forge Here", "#", :class => "travel btn primary", "data-mine-id" => mine.id

  - else
    
    %h3 Select a mine on the map