.action

  %span.content= "#{action.player}'s #{action.hero.to_s} attacked #{action.target.to_s} for #{number_with_delimiter(action.damage_dealt)} damage"
  %span.timestamp= timeago(action.created_at)