#splash-page.inset

  #join-mailing-list
    
    .col-content
  
      = image_tag "tagline.png", :id => "tagline"

      %h2 Coming Soon

      %p Get an email notification when ForgeCraft is released:

      = form_for @new_email do |f|
        
        = f.text_field :address, :class => ["text", "required", "email"], :title => "Enter your email address"
        = f.submit "Notify Me"

      %p Your address will be permanently deleted as soon as you're notified.

  #teaser

    = image_tag "tease.png", :id => "tease-image"
    
