%ul.class-nav

  %li{ :class => ("selected" if params[:action] == "index") }
    = link_to image_tag(asset_path("codex.png")), armory_index_path, :class => "class-icon"
    = link_to "Codex", armory_index_path, :class => "class-name"
  
  - for type in Classification.all

    %li{ :class => ("selected" if params[:id] == type.to_s) }
      = link_to image_tag(type.default_icon), armory_path(type), :class => "class-icon"
      = link_to "#{type} (#{type.items.count})", armory_path(type), :class => "class-name"