= favicon_link_tag 'favicon.png'

= favicon_link_tag 'apple-touch-icon-57.png', :rel => 'apple-touch-icon-precomposed', :media => 'screen and (resolution: 163dpi)', :type => 'image/png'
= favicon_link_tag 'apple-touch-icon-72.png', :rel => 'apple-touch-icon-precomposed', :media => 'screen and (resolution: 132dpi)', :type => 'image/png'
= favicon_link_tag 'apple-touch-icon-114.png', :rel => 'apple-touch-icon-precomposed', :media => 'screen and (resolution: 326dpi)', :type => 'image/png'

= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'