#game
  
  = render "board", :game => @game

  #score-box
    .menu
      %ul
        %li
          = link_to "Settings", "#", :class => "settings"
        %li.player
          = current_player

  #loot-list.scrollable.vertical
    
    - for loot in @game.loot
      = render "items/loot", :loot => loot

  = render "active_forge"
  = render "settings"

:javascript
  config["initialState"] = #{@game.to_json}

- for ore in Ore.all
  :javascript
    config["#{ore.to_class}_tile"] = "#{Ore.tile_cache(ore.id)}"

#loot-template
  = render "items/loot", :loot => Loot.new(:attack => 1, :defense => 1)