.battle-stub

  - unless battle.finished?
    .controls

      = link_to "Resume Battle", battle_path(battle), :class => "btn primary battle-link"
      %br
      %br
      = link_to "Forfeit", battle_path(battle), :method => :delete, :remote => true, :confirm => "Forfeit this battle and pay your opponent 200g?", :class => "forfeit-link", :"data-external" => true

  - if battle.finished?
    %h3.result{ :class => battle.result_for(current_player) }= battle.result_for(current_player).capitalize

  %h3
    - unless battle.singleplayer?
      %span{ :class => battle.first_player.to_css_class }= battle.first_player
    vs
    %span{ :class => battle.second_player.to_css_class }= battle.second_player

  %table.stats
    
    %tbody

      - if battle.finished?
        
        %tr
          
          %td.stat Victor
          %td.val= battle.winner
          
          %td.stat Defeated
          %td.val= battle.loser

      %tr
        
        %td.stat Started
        %td.val= timeago(battle.created_at)
        
        %td.stat Last Action
        %td.val= battle.actions.last.try(:message)


  .clear

  

  
