.heroes

  - if warrior.alive?
    .hero.warrior{ :id => warrior.id, :class => (controllable ? "controllable" : "enemy" ) }
      .inner
        
        %h2.name= warrior

        .stats

          = render "heroes/stats", :hero => warrior

        - if controllable

          .actions
            
            = link_to "Attack", "#", :external => true, :class => "btn action attack primary", :"data-action" => "attack"
            = link_to "Defend", "#", :external => true, :class => "btn action defend special danger", :"data-action" => "defend"

          .attack.explanation
            %h3 Choose an enemy to attack &rarr;

          .target.explanation
            %h3.content

  - if thief.alive?
    .hero.thief{ :id => thief.id, :class => (controllable ? "controllable" : "enemy" ) }
      .inner
        
        %h2.name= thief

        .stats

          = render "heroes/stats", :hero => thief
        
        - if controllable
          
          .actions
            
            = link_to "Attack", "#", :external => true, :class => "btn action attack primary", :"data-action" => "attack"
            = link_to "Steal", "#", :external => true, :class => "btn action steal special info", :"data-action" => "steal"

          .attack.explanation
            %h3 Choose an enemy to attack &rarr;

          .target.explanation
            %h3.content

  - if ranger.alive?
    .hero.ranger{ :id => ranger.id, :class => (controllable ? "controllable" : "enemy" ) }
      .inner
        
        %h2.name= ranger

        .stats

          = render "heroes/stats", :hero => ranger

        - if controllable

          .actions
            
            = link_to "Attack", "#", :external => true, :class => "btn action attack primary", :"data-action" => "attack"
            = link_to "Multishot", "#", :external => true, :class => "btn action multishot special success", :"data-action" => "multishot"

          .attack.explanation
            %h3 Choose an enemy to attack &rarr;

          .target.explanation
            %h3.content