#battles-page.container

  #battle-modes.row

    .singleplayer.battle-mode.span8

      .current-battle

        %h2.mode Singleplayer

        - if current_player.active_battle.present?
          = render "battle_stub", :battle => current_player.active_battle
          

        - else
          
          = form_for Battle.new, :remote => true, :format => :json do |f|
            
            = f.hidden_field :mode, :value => :singleplayer
            = f.hidden_field :first_player_id, :value => current_player.id

            = f.submit "Start Battle".html_safe, :class => "btn primary"

      - if @previous_battles.any?
        .previous-battles

          - @previous_battles.each do |previous|
            
            = render "battle_stub", :battle => previous

      

    .multiplayer.battle-mode.span8
      %h2.mode Multiplayer