#battles-page.container

  #battle-modes.row

    .singleplayer.battle-mode.span8

      %h2.mode Single Player

      - if current_player.active_battle.present?
        = render "battle_stub", :battle => current_player.active_battle
        

      - else
        
        = form_for :battle do |f|
          
          = f.hidden_field :mode, :value => :singleplayer
          = f.hidden_field :player_ids, :value => current_player.id

          = f.submit "Start a Singleplayer Battle", :class => "btn primary"

    .multiplayer.battle-mode.span8
      %h2.mode Multiplayer