
<div id="login-page">

  <div id="login-form" class="col-content">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      
      <fieldset>
      <legend>Log In</legend>

      <div class="clearfix"><%= f.label :email %>
        <div class="input">
          <%= f.email_field :email, :class => "required email" %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :password %>
        <div class="input">
          <%= f.password_field :password, :class => "required" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="input">
          
          <ul class="inputs-list">
            <li>
              <label>
                <%= f.check_box :remember_me, :checked => true %>
                <span>Remember me?</span>
              </label>
            </li>
          </ul>

        </div>
      <% end -%>

      <div class="actions"><%= f.submit "Sign in", :class => "btn primary" %></div>
      </fieldset>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>