
<div id="login-page">

  <div id="login-form" class="col-content">
    <h3>Log In</h3>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.check_box :remember_me, :checked => true, :class => "hidden" %>
      
      <div><%= f.label :email %><br />
      <%= f.email_field :email, :class => "required email" %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password, :class => "required" %></div>

      <div><%= f.submit "Sign in" %></div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>