
<div id="login_page">
  <img class="logo" src="<%= asset_path('logox300.png') %>" />

  <div id="login_form">
    <h3>Admin Log In</h3>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.hidden_field :remember_me, :value => "on" %>
      
      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.submit "Sign in" %></div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>