#menu

  .settings-menu

    = form_for current_player, :remote => true do |f|
      = f.fields_for current_player.setting do |s|
        
        %h4 Music
        .switch
          = s.check_box :music, :class => "checkbox"

        %h4 Sound Effects
        .switch
          = s.check_box :effects, :class => "checkbox"

    %ul
      
      %li 
        = link_to "Codex", tooltips_path, :rel => "tooltip", "data-external" => true, :class => "btn primary"

      %li
        = link_to "Refresh", "javascript:window.location.reload();", "data-external" => true, :class => "btn primary"

      - if admin?
        %li
          = link_to "Admin", admin_dashboard_path, "data-external" => true, :class => "btn primary"

      %li
        = mail_to "britg@foolishaggro.com", "Contact / Support", "data-external" => true, :subject => "Forgecraft!", :class => "btn primary"

      %li
        = link_to "Logout", logout_path, :class => "btn danger"


:javascript

  tooltipView.bindTooltips()

  $('.checkbox').after(function() {
      if ($(this).is(":checked")) {
          return "<a href='#' class='toggle checked' ref='" + $(this).attr("id") + "' data-external='true' ></a>";
      } else {
          return "<a href='#' class='toggle' ref='" + $(this).attr("id") + "' data-external='true'></a>";
      }
  });

  $('.toggle').click(function(e) {
      var checkboxID = $(this).attr("ref");
      var checkbox = $('#' + checkboxID);

      if (checkbox.is(":checked")) {
          checkbox.removeAttr("checked");
      } else {
          checkbox.attr("checked", "true");
      }
      $(this).toggleClass("checked");

      $('.edit_player').submit().bind("ajax:complete", function (e, resp) {
        p = JSON.parse(resp.responseText)
        player.set(p);
      })

      e.preventDefault();

  });