#ladder-page.container

  .heading.padded

    %h1 Player Ladder

    %table#ladder

      %tr

        %th Rank
        %th Score
        %th Player
        %th Forges Complete
        %th Battles Won
        %th Items
        %th Rares
        %th Epics
      
      - Player.ladder.each_with_index do |player, i|

        %tr
          %td.rank= i+1
          %td.score= number_with_delimiter player.score
          %td.name= link_to player.name, player_path(player)

          %td.count
            = player.forge_count
            (#{player.forge_percent}%)

          %td.count
            = player.battle_win_count
            (#{player.battle_win_percent}%)

          %td.count
            = player.item_count
            (#{player.item_percent}%)

          %td.count.rare
            = player.rare_count
            (#{player.rare_percent}%)

          %td.count.epic
            = player.epic_count
            (#{player.epic_percent}%)