#ladder-page.container

  .heading.padded
    %h1 
      Top 100 Players
      %span.disclaimer (Updated daily)

    %table#ladder

      %tr

        %th Rank
        %th Score
        %th Player
        %th Forges Complete
        %th Battles Won
        %th Items
        %th Rares
        %th Epics
      
      - @scores.each_with_index do |score, i|

        %tr
          %td.rank= i+1
          %td.score= number_with_delimiter score.score
          %td.name= link_to score.player.name, player_path(score.player)

          %td.count
            = score.forges_complete
            (#{score.forges_complete_percent}%)

          %td.count
            = score.battles_won
            (#{score.battles_won_percent}%)

          %td.count
            = score.total_items
            (#{score.total_items_percent}%)

          %td.count.rare
            = score.rare_items
            (#{score.rare_items_percent}%)

          %td.count.epic
            = score.epic_items
            (#{score.epic_items_percent}%)