#ladder-page.container

  .heading.padded
    %h1 
      Top 100 Players
      %span.disclaimer (Updated daily)

    %table#ladder

      %tr

        %th Rank
        %th Score
        %th Player
        %th Level
        %th Forges Complete
        %th Items
        %th Advanced 
        %th Rares
        %th Epics
      
      - @scores.each_with_index do |score, i|

        %tr
          %td.rank= i+1
          %td.score= number_with_delimiter score.score
          %td.name= link_to score.player.name, player_path(score.player)

          %td.count
            = score.player.level

          %td.count
            = score.forges_complete

          %td.count
            = score.total_items

          %td.count.advanced
            = score.advanced_items

          %td.count.rare
            = score.rare_items

          %td.count.epic
            = score.epic_items
