#player-page.container

  .heading

    %h1.player= player_slug(@player)

  %table.completion

    %tbody

      %tr

        %td.mines
          %span.count= @player.mine_count
          Mines Complete
          (#{@player.mine_percent}%)

        %td.total
          %span.count= @player.item_count
          Total Items
          (#{@player.item_percent}%)
        
        %td.rare
          %span.count= @player.rare_count
          Rares
          (#{@player.rare_percent}%)

        %td.epic
          %span.count= @player.epic_count
          Epics
          (#{@player.epic_percent}%)

  .row

    .span-one-third

      .section.forges-wrap

        %h1.heading 
          Active Forges

        - if @player.forges.active.any?
          .forges
            - @player.forges.active.each_with_index do |forge, index|
              = render "forges/stub", :forge => forge, :last => ((index+1)%3==0), :current => (@player.forge == forge)
          
          .clear
      
        - else
          %p 
            You have no active forges! Visit the 
            = map_link("Map")
            and select a mine to start forging.

      - if @player.forges.completed.any?
        .section.forges-wrap

          %h1.heading
            Completed Forges

          .forges
            - @player.forges.completed.each_with_index do |forge, index|
              = render "forges/stub", :forge => forge, :last => ((index+1)%3==0), :current => false
        
          .clear
    
    .span-one-third

      .section.hero-wrap
        %h1.heading Vanguard

        = render "heroes/heroes", :player => @player, :loot => nil

    .span-one-third
      
      .section.battle-wrap
        
        %h1.heading Battles

        - @player.battles.desc(:created_at).limit(10).each do |battle|
          = render "battles/battle_stub", :battle => battle

  

  .clear