#player-page.container

  .heading

    %h1.player= player_slug(@player)

  %table.completion

    %tbody

      %tr

        %td.mines
          %span.count= @player.mine_count
          Mines Complete
          (#{@player.mine_percent}%)

        %td.total
          %span.count= @player.item_count
          Total Items
          (#{@player.item_percent}%)
        
        %td.rare
          %span.count= @player.rare_count
          Rares
          (#{@player.rare_percent}%)

        %td.epic
          %span.count= @player.epic_count
          Epics
          (#{@player.epic_percent}%)

  .section.mines

    %h1.heading Mines

  .section.hero-wrap
    %h1.heading Vanguard

    = render "heroes/heroes", :player => @player, :loot => nil

  .clear