#player-page.container

  .heading

    %h1.player= player_slug(@player)

  .completion

    .total
      %span.count= @player.item_count
      total items
      (#{@player.item_percent}%)
    
    .rare
      %span.count= @player.rare_count
      rares
      (#{@player.rare_percent}%)

    .epic
      %span.count= @player.epic_count
      epics
      (#{@player.epic_percent}%)

    .itemset
      %span.count= @player.set_count
      sets
      (#{@player.set_percent}%)

  .hero-wrap
    = render "heroes/heroes", :player => @player, :loot => nil

  .clear