#player-page.container

  .badge
  
    .heading

      .score
        %span.stat Score
        %span.value= @player.score

      %h1.player= @player
      .sep

    %table.completion

      %tbody

        %tr

          %td.forge
            %span.count= @player.forge_count
            Forges Complete
            (#{@player.forge_percent}%)

          %td.battle
            %span.count= @player.battle_win_count
            Battles Won
            (#{@player.battle_win_percent}%)

          %td.total
            %span.count= @player.item_count
            Total Items
            (#{@player.item_percent}%)
          
          %td.rare
            %span.count= @player.rare_count
            Rares
            (#{@player.rare_percent}%)

          %td.epic
            %span.count= @player.epic_count
            Epics
            (#{@player.epic_percent}%)

  .row

    .span-one-third

      .section.forges-wrap

        - if @player == current_player and current_player.forges.any?
          = link_to "Practice &rarr;".html_safe, forge_path(current_player.forges.first), :class => "btn danger practice"

        %h1.heading 
          Forges

        .sep

        - if @player.forges.active.any?
          .active-forges
            - @player.forges.active.each_with_index do |forge, index|
              = render "forges/stub", :forge => forge, :last => ((index+1)%3==0), :current => (@player.forge == forge)
          
          .clear
      
        - elsif @player == current_player
          %p 
            = link_to "Visit the Map to Start Forging", map_index_path, :class => 'btn primary'

        - @player.forges.completed.each_with_index do |forge, index|
          = render "forges/stub", :forge => forge, :last => ((index+1)%3==0), :current => false
        
          .clear
    
    .span-one-third

      .section.hero-wrap

        - if @player == current_player
          = link_to "Spar &rarr;".html_safe, armory_index_path, :class => "btn danger practice"

        %h1.heading Elite Guard

        .sep

        = render "heroes/heroes", :player => @player, :loot => nil

    .span-one-third
      
      .section

        - if @player.loot.any?

          - if @player == current_player
            = link_to "Armory &rarr;".html_safe, armory_index_path, :class => "btn danger practice"

          %h1.heading Best Loot

          .sep

          .exceptional-loot

            - @player.best_set.each do |loot|
              = render "items/loot", :loot => loot

  .clear