#armory-filter.form_stacked

  .row
    .span2

      %fieldset
        %legend Class
        .input
        
          %ul.inputs-list
            - Classification.all.each do |c|
              
              %li
                %label
                  %input{ :rel => :filter, :type => :radio, :name => "classification", :value => c.id, :checked => (params[:classification].to_s == c.id.to_s) }
                  %span= c

    .span2

      %fieldset
        %legend Level

        .input

          %ul.inputs-list
            - 10.times do |i|
              
              %li
                %label
                  %input{ :rel => :filter, :type => :radio, :name => "level_range", :value => i, :checked => (params[:level_range].to_i == i.to_i) }
                  %span= "#{(10*i + 1)}-#{(10*i + 10)}"

  .row

    .span2

      %fieldset
        %legend Ore

        .input
        
          %ul.inputs-list
            - Ore.all.each do |o|
              - next if o.rank == 6
              %li
                %label
                  %input{ :rel => :filter, :type => :checkbox, :name => "ores[]", :value => o.id, :checked => (params[:ores].include?(o.id)) }
                  %span= o

    .span2

      %fieldset
        %legend Rarity

        .input
        
          %ul.inputs-list
            - Rarity.all.each do |r|
              
              %li
                %label
                  %input{ :rel => :filter, :type => :checkbox, :name => "rarities[]", :value => r.id, :checked => (params[:rarities].include?(r.id))  }
                  %span= r.name