
= form_for item, :remote => true do |f|
  
  .clearfix
    = f.label :name
    .input
      = f.text_field :name, :class => "required"

  .clearfix
    = f.label :classification_id, "Class"
    .input
      = f.select :classification_id, Classification.to_select_options, :class => "required"

  .clearfix
    = f.label :ore_id, "Ore"
    .input
      = f.select :ore_id, Ore.to_select_options, :class => "required"

  .clearfix
    = f.label :rarity_id, "Rarity"
    .input
      = f.select :rarity_id, Rarity.to_select_options, :class => "required"

  .clearfix
    = f.label :zone_id, "Map Zone"
    .input
      = f.select :zone_id, Zone.for_select

  .clearfix
    = f.label :attack_min
    .input
      = f.text_field :attack_min

  .clearfix
    = f.label :attack_max
    .input
      = f.text_field :attack_max

  .clearfix
    = f.label :defense_min
    .input
      = f.text_field :defense_min

  .clearfix
    = f.label :defense_max
    .input
      = f.text_field :defense_max

  .actions

    = f.submit "Save", :class => "btn primary"