%legend Level

.input

  %ul.inputs-list
    - 10.times do |i|
      
      %li
        %label{ :for => "level-range-#{i}" }
          %input{ :id => "level-range-#{i}", :rel => :filter, :type => :radio, :name => "level_range", :value => i, :checked => (params[:level_range].to_i == i.to_i) }
          %span= "#{(10*i + 1)}-#{(10*i + 10)}"