.loot{ :class => "#{loot.to_css_classes} launch-equipper", "data-id" => loot.to_param }

  
  = image_tag "loot/equipped.png", :class => "equipped-indicator #{'hidden' unless loot.equipped?}", :title => "Equipped"
  = link_to image_tag("loot/sell.png", :class => "sell-image"), "javascript:void(0)", :class => "sell-action #{'hidden' if loot.equipped?}", :"data-external" => true, :title => "Sell"
  
  = image_tag loot.icon, :class => "icon"

  %h4.name{ :class => loot.rarity }= loot.name

  %span.stats
    
    - if loot.attack and loot.attack > 0
      %span.attack
        %span.val= loot.attack
        = image_tag "loot/attack.png", :class => "type-icon"
    
    - if loot.defense and loot.defense > 0
      %span.defense
        %span.val= loot.defense
        = image_tag "loot/defense.png", :class => "type-icon"