%h1#context= context

- if items.count < 1
  %h3 There are no items matching the criteria.
- else
  %table#item-table.item-table.zebra-striped
    
    %thead
      
      %tr

        %th= image_tag("loot/forged.png", :class => "icon")

        %th Item

        %th Region

        %th Ore

        %th= image_tag("loot/attack.png", :class => "icon")
        
        %th= image_tag("loot/defense.png", :class => "icon")

        - if admin?
          %th

    %tbody

      - for item in items

        %tr{ :id => dom_id(item, 'row') }
          
          %td
            - if found = current_player.loot.best(item)
              = link_to image_tag("loot/forged.png", :class => "icon"), loot_path(found), :"data-id" => found.id, :class => "launch-equipper", :"data-external" => true

          %td.name
            = link_to image_tag(item.icon.url(:tiny), :class => "icon"), item_path(item)
            = link_to item, armory_path(item), :class => item.rarity

          %td.region= item.zone

          %td.ore
            = image_tag item.ore.tile.url(:small), :title => item.ore, :alt => item.ore, :class => "icon"

          %td
            - if item.weapon?
              = admin_field item, :attack_min
              = "-"
              = admin_field item, :attack_max

          %td
            - if item.armor?
              = admin_field item, :defense_min
              = "-"
              = admin_field item, :defense_max

          - if admin?
            %td
              = link_to "Edit", edit_item_path(item), :class => "edit-item", :rel => item.id
              |
              = link_to "Delete", armory_path(item), :confirm => t("confirms.destroy_item"), :method => :delete, :remote => true, :"data-external" => true, :class => "delete-item", :"data-item-id" => item.id