- if items.count < 1
  %h3 No items have been forged of this class
- else
  %table#item-table.item-table.zebra-striped
    
    %thead
      
      %tr

        %th Item

        %th Equip

        %th Ore

        %th= image_tag("loot/attack.png", :class => "icon")
        
        %th= image_tag("loot/defense.png", :class => "icon")

        - if admin?
          %th

    %tbody

      - for item in items

        %tr{ :id => dom_id(item, 'row') }

          %td.name
            = image_tag(item.icon.url(:tiny), :class => "icon")
            %span{ :class => item.rarity }
              - if found = current_player.loot.best(item)
                = link_to item, loot_path(found), :class => "launch-equipper #{item.rarity}", "data-external" => true, "data-id" => found.to_param
              - else
                = item

          %td
            - if found = current_player.loot.best(item)
              = link_to "Equip &rarr;".html_safe, loot_path(found), :class => "launch-equipper", "data-external" => true, "data-id" => found.to_param

          %td.ore
            = image_tag item.ore.tile.url(:small), :title => item.ore, :alt => item.ore, :class => "icon"

          %td
            - if item.weapon?
              = admin_field item, :attack_min
              = "-"
              = admin_field item, :attack_max

          %td
            - if item.armor?
              = admin_field item, :defense_min
              = "-"
              = admin_field item, :defense_max

          - if admin?
            %td
              = link_to "Edit", edit_item_path(item), :class => "edit-item", :rel => item.id
              |
              = link_to "Delete", armory_path(item), :confirm => t("confirms.destroy_item"), :method => :delete, :remote => true, :"data-external" => true, :class => "delete-item", :"data-item-id" => item.id