
#armory

  #class-nav

    = render "shared/class_nav"
  
  #armory-content

    %ul#breadcrumbs
      
      %li
        = link_to "#{@item.classification}".html_safe, armory_path(@item.classification)

      %li.spacer &rarr;

      %li
        = link_to "#{@item.ore}".html_safe, armory_path(@item.classification, :anchor => @item.ore.to_s)

      %li.spacer &rarr;

      %li
        %span{ :class => @item.rarity }= @item

    #item-content

      .art
        = link_to image_tag(@item.art.url(:small)), @item.art.url(:full), :rel => "modal"

        - if admin?
          %br
          = link_to "Edit/Upload Art", edit_admin_item_path(@item)
      
      
      %h1.heading{ :class => @item.rarity }
        = image_tag(@item.icon.url(:tiny), :class => "icon")
        = admin_field @item, :name

      .description
        = admin_field @item, :description, :type => "textarea", :submit => "Save", :cancel => "Cancel"

      .story
        
        %h3 Origin Story

        - if !@item.story or @item.story.empty?

          %p= t('stories.default', :item => loot(@item)).html_safe

        = admin_field @item, :story, :type => "textarea", :submit => "Save", :cancel => "Cancel"