
- weapon1_equippable = (loot.present? and loot.equippable?(hero, hero.weapon1_slot))
- weapon2_equippable = (loot.present? and loot.equippable?(hero, hero.weapon2_slot))
- armor_equippable = (loot.present? and loot.equippable?(hero, hero.armor_slot))
- leggings_equippable = (loot.present? and loot.equippable?(hero, hero.leggings_slot))

.slots 
  .slot.weapon1{ :class => "#{'enabled' if weapon1_equippable} #{hero.weapon1.to_css_classes if hero.weapon1.present?}", :rel => "weapon1", :"data-hero-id" => hero.id }

    - if weapon1_equippable
      .diff
        - if hero.weapon1.present?
          = plus_minus(loot.diff(hero.weapon1))
        - else
          = plus_minus(loot.attack)

    .equipped-item
      = image_tag(hero.weapon1.icon) if hero.weapon1.present?

  - if hero.ranger?
    .slot-spacer
      &nbsp;

  - else
    .slot.weapon2{ :class => "#{'enabled' if weapon2_equippable} #{hero.weapon2.to_css_classes if hero.weapon2.present?}", :rel => "weapon2", :"data-hero-id" => hero.id }

      - if weapon2_equippable
        .diff
          - if hero.weapon2.present?
            = plus_minus(loot.diff(hero.weapon2))
          - else
            = plus_minus(loot.attack)

      .equipped-item
        = image_tag(hero.weapon2.icon) if hero.weapon2.present?

  .slot.armor{ :class => "#{'enabled' if armor_equippable} #{hero.armor.to_css_classes if hero.armor.present?}", :rel => "armor", :"data-hero-id" => hero.id }

    - if armor_equippable
      .diff
        - if hero.armor.present?
          = plus_minus(loot.diff(hero.armor))
        - else
          = plus_minus(loot.defense)

    .equipped-item
      = image_tag(hero.armor.icon) if hero.armor.present?

  .slot.leggings{ :class => "#{'enabled' if leggings_equippable} #{hero.leggings.to_css_classes if hero.leggings.present?}", :rel => "leggings", :"data-hero-id" => hero.id }

    - if leggings_equippable
      .diff
        - if hero.leggings.present?
          = plus_minus(loot.diff(hero.leggings))
        - else
          = plus_minus(loot.defense)

    .equipped-item
      = image_tag(hero.leggings.icon) if hero.leggings.present?

.explain

  .slot-spacer{ :class => "#{'enabled' if weapon1_equippable}" }
    - if hero.warrior?
      Weapon
    - elsif hero.thief?
      Weapon
    - elsif hero.ranger?
      Crossbow

  .slot-spacer{ :class => "#{'enabled' if weapon2_equippable}" }
    - if hero.warrior?
      Shield
    - elsif hero.thief?
      Weapon
  
  .slot-spacer{ :class => "#{'enabled' if armor_equippable}" }
    Armor

  .slot-spacer{ :class => "#{'enabled' if leggings_equippable}" }
    Leggings