.heroes.row{ :class => ("editable" if player == current_player) }

  .hero.warrior.span-one-third
    .inner
      
      = render "heroes/inline_stats", :hero => player.warrior
      %h3.name= player.warrior

      .equipment

        = render "heroes/equipment", :hero => player.warrior, :loot => loot


  .hero.thief.span-one-third
    .inner
      
      = render "heroes/inline_stats", :hero => player.thief
      %h3.name= player.thief

      .equipment
      
        = render "heroes/equipment", :hero => player.thief, :loot => loot

  .hero.ranger.span-one-third
    .inner
      
      = render "heroes/inline_stats", :hero => player.ranger
      %h3.name= player.ranger

      .equipment
      
        = render "heroes/equipment", :hero => player.ranger, :loot => loot