.heroes.row{ :class => ("editable" if player == current_player) }

  .hero.warrior.span-one-third
    .inner
      
      %h2.name= player.warrior

      .stats

        = render "heroes/stats", :hero => player.warrior

      .equipment

        = render "heroes/equipment", :hero => player.warrior, :loot => loot


  .hero.thief.span-one-third
    .inner
      
      %h2.name= player.thief

      .stats

        = render "heroes/stats", :hero => player.thief

      .equipment
      
        = render "heroes/equipment", :hero => player.thief, :loot => loot

  .hero.ranger.span-one-third
    .inner
      
      %h2.name= player.ranger

      .stats

        = render "heroes/stats", :hero => player.ranger

      .equipment
      
        = render "heroes/equipment", :hero => player.ranger, :loot => loot