!!!
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= @browser_title || 'ForgeCraft'

    = render "shared/mobile_meta"
    = render "shared/favicon"

    = stylesheet_link_tag "application"
    = csrf_meta_tags

    = javascript_include_tag "application"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"

    = render "shared/ga"
    
  %body{ :class => params[:controller] }

    #flash-wrap
      - if flash.any?
        - for key, msg in flash
          .flash{ :class => key }
            %p= msg

    #loading
      = image_tag "loading.gif"

    #profile

      .inner

        - if current_user.present?
          
          .welcome
            = link_to current_player, player_path(current_player), :class => current_player.to_css_class
          
          .actions
            = link_to "Log out", logout_path, :class => "action", "data-external" => true

        - else

          = link_to "Log in", login_path, :rel => "modal"
          or
          = link_to "Create an Account", register_path, :rel => "modal"

    #content
    
      = yield
