!!!
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= @browser_title || 'ForgeCraft'

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" }

  %body{ :class => params[:controller] }

    #head
      
      #branding
        = link_to image_tag("logox300.png", :id => "logo"), root_path


      #actions

        #profile

          - if current_user.present?
            
            .welcome
              Welcome, 
              %span.epic= current_user

              - if admin?
                = link_to "Admin Dashboard", admin_dashboard_path, :class => "action"

              = link_to "Log out", logout_path, :class => "action"

          - else

            = link_to "Log in", login_path, :rel => "modal"
            or
            = link_to "Create an Account", register_path, :rel => "modal"

        .clear

        %ul#navigation
          %li
            = link_to "Armory", armory_index_path
          %li
            = link_to "Forums", topics_path

    #content
      - if flash.any?
        - for key, msg in flash
          %p{ :class => key }= msg
    
      = yield

    #footer
      
    
