!!!
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= @browser_title || 'ForgeCraft'

    = render "shared/mobile_meta"
    = render "shared/favicon"

    = stylesheet_link_tag "application"
    = csrf_meta_tags

    = javascript_include_tag "application"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"

    = render "shared/ga"
    
  %body{ :class => params[:controller] }

    #flash-wrap
      - if flash.any?
        - for key, msg in flash
          .flash{ :class => key }
            %p= msg

    #loading
      = image_tag "loading.gif"

    #navigation
      
      %ul.nav

        %li
          = link_to "Profile", player_path(current_player), :class => "profile"

        %li
          = link_to "Forge", forge_path, :class => "forge"

        %li
          = link_to "Armory", armory_index_path, :class => "armory"

        %li
          = link_to "Heroes", heroes_path, :class => "heroes last"

    #content
    
      = yield

:javascript
  ForgeCraft.Config.player = #{current_player.to_json}