!!!
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= @browser_title || 'ForgeCraft'

    = render "shared/mobile_meta"
    = render "shared/favicon"

    = stylesheet_link_tag "application"
    = csrf_meta_tags

    = javascript_include_tag "application"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"

    = render "shared/ga"
    
  %body{ :class => params[:controller] }

    #head
      
      #branding
        = link_to image_tag("logox300.png", :id => "logo"), root_path


      #actions

        #profile

          - if current_user.present?
            
            .welcome
              Welcome, 
              = link_to current_player, player_path(current_player), :class => current_player.to_css_class

              - if admin?
                = link_to "Admin Dashboard", admin_dashboard_path, :class => "action"

              = link_to "Log out", logout_path, :class => "action"

          - else

            = link_to "Log in", login_path, :rel => "modal"
            or
            = link_to "Create an Account", register_path, :rel => "modal"

        .clear

        %ul#navigation
          
          %li
            = link_to "Ladder", ladder_path

          %li
            = link_to "Armory", armory_index_path

          - if current_player.present?
            %li
              = link_to "My Profile", player_path(current_player), :class => 'my-profile'

    #content
      - if flash.any?
        - for key, msg in flash
          %p{ :class => key }= msg
    
      = yield

    #footer

      %p.copyright &copy; #{Time.now.year} Foolish Aggro Studios

    = render "shared/web_app_link_capture"

