!!!
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= @browser_title || 'ForgeCraft'

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{ :class => params[:controller] }

    #head

      %ul#navigation
        %li
          = link_to "Armory", items_path
        %li
          = link_to "Forums", "#"

      = link_to image_tag("logox300.png", :id => "logo"), root_path

    #content
      - if flash.any?
        - for key, msg in flash
          %p{ :class => key }= msg
    
      = yield

    #footer
      
    
