!!!
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= @browser_title || 'ForgeCraft'

    = render "shared/mobile_meta"
    = render "shared/favicon"

    = stylesheet_link_tag "application"
    = csrf_meta_tags

    = javascript_include_tag "application"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"

    = render "shared/ga"
    
  %body{ :class => params[:controller] }

    - if current_player
    
      #logo-wrap
        = link_to image_tag("logo.png", :id => "logo"), root_path

    #flash-wrap
      - if flash.any?
        - for key, msg in flash
          .flash{ :class => key }
            %p= msg

    #loading
      = image_tag "loading.gif"

    - if current_player

      #navigation
        
        %ul.nav

          %li
            = link_to "Profile", player_path(current_player), :class => "profile nav-item #{selected('profile')}", :rel => "profile"

          %li
            = link_to "Forge", forge_path, :class => "forge nav-item #{selected('forge')}", :rel => "forge"

          %li
            = link_to "Armory", armory_index_path, :class => "armory nav-item #{selected('armory')}", :rel => "armory"

          %li
            = link_to "Battle", battles_path, :class => "battle nav-item #{selected('battle')}", :rel => "battle"

          %li
            = link_to "Menu", menu_path, :class => "menu nav-item", :rel => "menu"

    #content
    
      = yield

:javascript
  ForgeCraft.Config.player = #{current_player.to_json}