!!!
%html.game
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= @browser_title || 'ForgeCraft'

    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
    %meta{ :name => "apple-mobile-web-app-status-bar-style", :content => "black" }
    %meta{ :name => "viewport", :content => "width = device-width, user-scalable=no" }


    = stylesheet_link_tag "application"
    = csrf_meta_tags

    = javascript_include_tag "play"

    = render "shared/ga"
    
  %body#play

    = yield